In [10]:
import requests

data = {'age': 19,
                                     'workclass': 'Private',
                                     'fnlgt': 149184,
                                     'education': 'HS-grad',
                                     'marital_status': 'Never-married',
                                     'occupation': 'Prof-specialty',
                                     'relationship': 'Not-in-family',
                                     'race': 'White',
                                     'sex': 'Male',
                                     'hoursPerWeek': 60,
                                     'nativeCountry': 'United-States'
                                     }

local = "http://127.0.0.1:8000"
aws = ""

In [11]:
r = requests.post(f'{local}/', json=data)

assert r.status_code == 200

print("Response code: %s" % r.status_code)
print("Response body: %s" % r.json())

Response code: 200
Response body: {'prediction': ' <=50K'}

In [42]:
dd = {'age': 19, 'workclass': 'Private', 'fnlgt': 149184, 'education': 'HS-grad', 'marital_status': 'Never-married', 'occupation': 'Prof-specialty', 'relationship': 'Not-in-family', 'race': 'White', 'sex': 'Male', 'hoursPerWeek': 60, 'nativeCountry': 'United-States'}

In [43]:
dd.values()

dict_values([19, 'Private', 149184, 'HS-grad', 'Never-married', 'Prof-specialty', 'Not-in-family', 'White', 'Male', 60, 'United-States'])

In [27]:
columns= [ 'age',
      'workclass',
      'fnlgt',
      'education',
      'marital-status',
      'occupation',
      'relationship',
      'race',
      'sex',
      'hours-per-week',
      'native-country'
    ]

In [22]:
input_df = pd.DataFrame.from_dict([dd],orient = 'columns')
input_df

,age,workclass,fnlgt,education,marital_status,occupation,relationship,race,sex,hoursPerWeek,nativeCountry
0,19,Private,149184,HS-grad,Never-married,Prof-specialty,Not-in-family,White,Male,60,United-States

In [28]:
input_df[columns]

KeyError: "['marital-status', 'hours-per-week', 'native-country'] not in index"

In [55]:
input_df.rename(columns ={'age':'a'})

,a,workclass,fnlgt,education,marital_status,occupation,relationship,race,sex,hoursPerWeek,nativeCountry
0,19,Private,149184,HS-grad,Never-married,Prof-specialty,Not-in-family,White,Male,60,United-States